---
- name: Ensure user account exists
  user:
    name: "{{ user_item.username }}"
    password: "{{ user_item.password | password_hash('sha512') }}"
    shell: /bin/bash
    create_home: yes
    state: present

- name: Ensure .ssh directory exists
  file:
    path: "/home/{{ user_item.username }}/.ssh"
    state: directory
    owner: "{{ user_item.username }}"
    group: "{{ user_item.username }}"
    mode: '0700'
